body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.stats {
    text-align: center;
    margin-top: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#joke-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.joke-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.joke-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-actions button:nth-child(1) {
    background-color: #4CAF50;
    color: #fff;
}

.card-actions button:nth-child(2) {
    background-color: #FF5733;
    color: #fff;
}

.card-actions button:hover {
    opacity: 0.8;
}
