/* Stiliavimas antraštės daliai */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.logo {
    max-width: 100px;
}

img {
    width: 100px;
}

.pavadinimas {
    text-align: center;
    font-size: 24px;
}

/* Stiliavimas pagrindiniam turiniui */
main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}

.paieškos-laukas {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    flex-shrink: 0;
}

.paieškos-laukas form {
    display: flex;
    align-items: center;
}

.paieškos-laukas input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.paieškos-laukas button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}

/* Stiliavimas šoninės juostos mygtukams */
.sone-kairysis-meniu .mygtukas {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Padidinkite mygtuko padding, kad būtų lengviau paspausti */
    margin: 5px 0; /* Pridėkite tarpą tarp mygtukų */
    cursor: pointer; /* Pridėkite rodyklių formą, kai užvedamas pele */
    transition: background-color 0.3s ease; /* Sklandus pereinamasis efektas */
}

/* Pakeiskite mygtuko spalvą, kai užvedamas pele */
.sone-kairysis-meniu .mygtukas:hover {
    background-color: #0056b3;
}


/* Stiliavimas apatiniam skyriui */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
